@font-face {
    font-family: 'Myriad Pro Regular';
url('MyriadPro-Regular.woff') format('woff'),
url('MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font-family: 'Myriad Pro Regular', sans-serif;
    font-weight: 400;
}
.conteiner {
    font-family: "Myriad Pro", sans-serif;
    width: 1280px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
}
.top_logo {
    font-family: "Myriad Pro", sans-serif;
    font-size: 80px;
    font-weight: 400;
    width: 292px;
    height: 74px;
    text-decoration: none;
    margin: 45px 0;
}
p>a {
    text-decoration: none;
    color: black;
}
.toplogo-color {
    color: #4bcaff;
}
/*MENU-TOP-LINE*/

.top-menu {
    background-color: #35444f;
    width: 1280px;
    margin: auto;
    text-align: center;
}
ul.top-line-menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.select {
    display: inline-block;
}

li.select>a {
    display: inline-block;
    height: 48px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 10px 42px;
}
.top-menu>ul>li>a {
     height: 48px;
     text-align: center;
     line-height: 47px;
 }

ul.top-line-menu li>a:hover:not(.active) {
    background-color: #222f3a;
    border-left: 1px solid #828282;
    border-right: 1px solid #828282;
    transition-duration: 450ms;
}

/*LEFT-NAV Varian2*/

.nav-left {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    margin-top: 50px;
    list-style-type: none;
}
.nav-left>a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 80px;
    color: #485863;
    font-size: 27px;
    text-align: left;
    padding-left: 44px;

}


div.nav-left>a:hover:not(.active) {
    background-color: #dcdcdc;
    color: #000;
    -webkit-padding-start: 70px;
    transition-duration: 450ms;
}
.img-box {
    margin-top: 50px;
    display: inline-block;
    box-sizing: border-box;
    width: 921px;
    height: 520px;
    border: 1px solid black;
    margin-left: 52px;
}
.center-img {
    display: block;
    margin: 74px auto;
    text-align: center;
}
.content-text {
    display: inline-block;
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 20px 0 0 420px;
    width: 815px;
}
/*footer*/
.footer-menu {
    background-color: #b5b8bb;
    width: 1280px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
}
.footer-menu>ul {
    display: inline-block;
}
.footer-menu>ul>li{
    display: inline-block;
    padding-right: 20px;
}

.footer-menu>ul>li>a {
    display: inline-block;
    color: #0c1927;
    font-size: 24px;
    text-decoration: none;
    font-weight: 400;
}
.footer-menu>ul>li>a:hover:not(.active) {
    color:#3181a6 ;
    border-bottom: 1px solid #3181a6;
}
p.copyright {
    display: inline-block;
    padding-left: 220px;
    color:  #010000;
    font-size: 24px;
}
/*animation top image*/
.center-img:hover {
    transform: scale(1.3);
    transition-duration: 850ms;
    transition-timing-function: ease-in-out;
}